In [10]:
import pandas as pd
import numpy as np
import pickle

In [3]:
ball2ball = pd.read_csv('../data/ipl_ball_by_ball_2008_2022.csv')

In [3]:
ball2ball.columns

Index(['id', 'innings', 'overs', 'ball_number', 'batter', 'bowler',
       'non_striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'iswicket_delivery', 'player_out', 'dismisal_kind',
       'fielders_involved', 'batting_team'],
      dtype='object')

In [4]:
matches = pd.read_csv('../data/ipl_matches_2008_2022.csv')

In [5]:
matches.columns

Index(['id', 'city', 'match_date', 'season', 'match_number', 'team1', 'team2',
       'venue', 'toss_winner', 'toss_decision', 'superover', 'winning_team',
       'won_by', 'margin', 'method', 'player_of_match', 'umpire1', 'umpire2'],
      dtype='object')

In [7]:
matches = matches.dropna(subset = 'match_date')

950

run this to add year column to ball2ball dataframe

In [8]:
import pandas as pd

# Assuming your original DataFrame is named 'original_df'
# Example:
# original_df = pd.read_csv('your_csv_file.csv')

# Create a new DataFrame with 'id' and 'year'
new_df = matches[['id', 'match_date']].copy()

# Convert 'match_date' to datetime format
new_df['match_date'] = pd.to_datetime(new_df['match_date'], format='%d-%m-%Y')

# Extract the year and create a new 'year' column
new_df['year'] = new_df['match_date'].dt.year

# Drop the 'match_date' column if you no longer need it
new_df.drop('match_date', axis=1, inplace=True)

# Print or use the new DataFrame 'new_df'
ball2ball = pd.merge(new_df, ball2ball, on='id', how='inner')

In [20]:
ball2ball['extra_type'].unique()

array([nan, 'legbyes', 'wides', 'byes', 'noballs', 'penalty'],
      dtype=object)

In [30]:
from collections import defaultdict
bowler_economy = {}
for index, row in ball2ball.iterrows():
    bowler = row['bowler']
    year = row['year']
    extra_type = row['extra_type']
    total_run = row['total_run']
    extras_run = row['extras_run']
    if year not in bowler_economy:
        bowler_economy[year] = {}
    if bowler not in bowler_economy[year]:
        bowler_economy[year][bowler] = {}
        bowler_economy[year][bowler]['runs_conceeded'] = 0
        bowler_economy[year][bowler]['balls_bowled'] = 0
    bowler_economy[year][bowler]['runs_conceeded'] += total_run - extras_run if extra_type in ['byes','legbyes'] else total_run
    bowler_economy[year][bowler]['balls_bowled'] += 1 if extra_type not in ['wides', 'noballs', 'penalty'] else 0

In [32]:
for year in bowler_economy:
    for player in bowler_economy[year]:
        bowler_economy[year][player]['economy'] = bowler_economy[year][player]['runs_conceeded'] * 6 / bowler_economy[year][player]['balls_bowled']

In [40]:
best_economies = {}
for year in bowler_economy:
    sorted_economies = sorted(bowler_economy[year], key = lambda x: bowler_economy[year][x]['economy'])
    best5 = sorted_economies[0:5]
    best_economies[year] = {player: round(bowler_economy[year][player]['economy'],2) for player in best5}
    
best_economies

{2022: {'A Badoni': 5.5,
  'SP Narine': 5.57,
  'Mohsin Khan': 5.97,
  'PH Solanki': 6.33,
  'Tilak Varma': 6.5},
 2021: {'Imran Tahir': 4.0,
  'MC Henriques': 4.5,
  'AK Markram': 5.75,
  'N Rana': 6.0,
  'Harpreet Brar': 6.04},
 2020: {'Rashid Khan': 5.34,
  'Mohammad Nabi': 5.75,
  'Washington Sundar': 5.96,
  'CH Gayle': 6.0,
  'J Yadav': 6.14},
 2019: {'S Dube': 4.8,
  'AS Roy': 5.5,
  'SK Raina': 6.0,
  'STR Binny': 6.29,
  'RA Jadeja': 6.35},
 2018: {'IS Sodhi': 5.87,
  'L Ngidi': 6.0,
  'DJM Short': 6.33,
  'Rashid Khan': 6.74,
  'S Lamichhane': 6.83},
 2017: {'NB Singh': 3.75,
  'Mohammad Nabi': 5.27,
  'R Tewatia': 5.44,
  'Avesh Khan': 5.75,
  'P Negi': 6.12},
 2016: {'N Rana': 3.0,
  'Sachin Baby': 4.8,
  'MR Marsh': 5.0,
  'YK Pathan': 5.5,
  'JW Hastings': 5.55},
 2015: {'RN ten Doeschate': 4.0,
  'J Yadav': 4.14,
  'V Kohli': 5.45,
  'R Ashwin': 5.85,
  'S Nadeem': 6.14},
 2014: {'Ankit Sharma': 5.38,
  'AR Patel': 6.14,
  'R Rampaul': 6.17,
  'SP Narine': 6.43,
  'Harbhajan Singh': 6.47},
 2013: {'AC Gilchrist': 0.0,
  'BJ Hodge': 3.0,
  'RG Sharma': 4.5,
  'RV Gomez': 5.0,
  'Anand Rajan': 5.25},
 2012: {'L Balaji': 5.4,
  'SP Narine': 5.48,
  'AG Murtaza': 5.5,
  'RE van der Merwe': 6.0,
  'LR Shukla': 6.0},
 2011: {'S Rana': 3.0,
  'JP Faulkner': 4.5,
  'AA Chavan': 5.4,
  'R Sharma': 5.46,
  'S Dhawan': 5.5},
 2010: {'V Sehwag': 4.06,
  'ND Doshi': 4.25,
  'AJ Finch': 4.29,
  'B Akhil': 6.0,
  'R Ashwin': 6.1},
 2009: {'R Ashwin': 3.25,
  'CK Langeveldt': 3.75,
  'RS Bopara': 3.75,
  'AM Rahane': 5.0,
  'M Muralitharan': 5.22},
 2008: {'TM Dilshan': 3.0,
  'DJ Thornely': 5.71,
  'BAW Mendis': 6.0,
  'RG Sharma': 6.25,
  'SC Ganguly': 6.4}}

In [45]:
import pickle
with open('best_economies.pkl','wb') as bef:
    pickle.dump(best_economies,bef)

In [6]:
ball2ball['dismisal_kind'].unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

In [11]:
grouped_df = ball2ball.groupby(['year', 'batter'])['batsman_run'].sum().reset_index()
top_scorers_df = grouped_df.groupby('year').apply(lambda x: x.nlargest(5, 'batsman_run')).reset_index(drop=True)
# Print or use the resulting DataFrame 'grouped_df'
# top_scorers_dict = top_scorers_df.to_dict(orient='records')

# Print or use the resulting dictionary 'top_scorers_dict'
top_scorers_dict_2d = {}

# Iterate through the rows of the DataFrame and populate the 2D dictionary
for index, row in top_scorers_df.iterrows():
    year = row['year']
    batter = row['batter']
    batsman_run = row['batsman_run']

    # If the year is not in the dictionary, add it
    if year not in top_scorers_dict_2d:
        top_scorers_dict_2d[year] = {}

    # Add the batter and batsman_run to the dictionary for the specific year
    top_scorers_dict_2d[year][batter] = batsman_run

# Print or use the resulting 2D dictionary 'top_scorers_dict_2d'
print(top_scorers_dict_2d)
with open('top_scorers.pkl','wb') as tf:
    pickle.dump(top_scorers_dict_2d,tf)

{2008: {'SE Marsh': 616, 'G Gambhir': 534, 'ST Jayasuriya': 514, 'SR Watson': 472, 'GC Smith': 441}, 2009: {'ML Hayden': 572, 'AC Gilchrist': 495, 'AB de Villiers': 465, 'SK Raina': 434, 'TM Dilshan': 418}, 2010: {'SR Tendulkar': 618, 'JH Kallis': 572, 'SK Raina': 528, 'SC Ganguly': 493, 'M Vijay': 458}, 2011: {'CH Gayle': 608, 'V Kohli': 557, 'SR Tendulkar': 553, 'SE Marsh': 504, 'MEK Hussey': 492}, 2012: {'CH Gayle': 733, 'G Gambhir': 590, 'S Dhawan': 569, 'AM Rahane': 560, 'V Sehwag': 495}, 2013: {'MEK Hussey': 733, 'CH Gayle': 720, 'V Kohli': 639, 'SK Raina': 548, 'SR Watson': 543}, 2014: {'RV Uthappa': 660, 'DR Smith': 566, 'GJ Maxwell': 552, 'DA Warner': 528, 'SK Raina': 523}, 2015: {'DA Warner': 562, 'AM Rahane': 540, 'LMP Simmons': 540, 'AB de Villiers': 513, 'V Kohli': 505}, 2016: {'V Kohli': 973, 'DA Warner': 848, 'AB de Villiers': 687, 'G Gambhir': 501, 'S Dhawan': 501}, 2017: {'DA Warner': 641, 'G Gambhir': 498, 'S Dhawan': 479, 'SPD Smith': 472, 'SK Raina': 442}, 2018: {'KS Williamson': 735, 'RR Pant': 684, 'KL Rahul': 659, 'AT Rayudu': 602, 'SR Watson': 555}, 2019: {'DA Warner': 692, 'KL Rahul': 593, 'Q de Kock': 529, 'S Dhawan': 521, 'AD Russell': 514}, 2020: {'KL Rahul': 676, 'S Dhawan': 618, 'DA Warner': 548, 'SS Iyer': 519, 'Ishan Kishan': 516}, 2021: {'RD Gaikwad': 635, 'F du Plessis': 633, 'KL Rahul': 626, 'S Dhawan': 587, 'GJ Maxwell': 513}, 2022: {'JC Buttler': 863, 'KL Rahul': 616, 'Q de Kock': 508, 'HH Pandya': 487, 'Shubman Gill': 483}}

In [52]:
ball2ball.columns

Index(['id', 'year', 'innings', 'overs', 'ball_number', 'batter', 'bowler',
       'non_striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'iswicket_delivery', 'player_out', 'dismisal_kind',
       'fielders_involved', 'batting_team'],
      dtype='object')

In [54]:
grouped_df = ball2ball.groupby(['year', 'bowler'])['iswicket_delivery'].count().reset_index()

grouped_df
top_scorers_df = grouped_df.groupby('year').apply(lambda x: x.nlargest(5, 'iswicket_delivery')).reset_index(drop=True)
# Print or use the resulting DataFrame 'grouped_df'
# top_scorers_dict = top_scorers_df.to_dict(orient='records')

# Print or use the resulting dictionary 'top_scorers_dict'
top_scorers_dict_2d = {}

# Iterate through the rows of the DataFrame and populate the 2D dictionary
for index, row in top_scorers_df.iterrows():
    year = row['year']
    batter = row['bowler']
    batsman_run = row['batsman_run']

    # If the year is not in the dictionary, add it
    if year not in top_scorers_dict_2d:
        top_scorers_dict_2d[year] = {}

    # Add the batter and batsman_run to the dictionary for the specific year
    top_scorers_dict_2d[year][batter] = batsman_run

# Print or use the resulting 2D dictionary 'top_scorers_dict_2d'
print(top_scorers_dict_2d)
with open('top_scorers.pkl','wb') as tf:
    pickle.dump(top_scorers_dict_2d,tf)

      year             bowler  iswicket_delivery
0     2008           A Kumble                236
1     2008           A Mishra                123
2     2008            A Nehra                280
3     2008              A Nel                 18
4     2008          A Symonds                 44
...    ...                ...                ...
1668  2022            VR Iyer                 24
1669  2022  Washington Sundar                170
1670  2022        YBK Jaiswal                  1
1671  2022          YS Chahal                429
1672  2022         Yash Dayal                205

[1673 rows x 3 columns]

In [23]:
ge = open('../data/player_stats/top_bowlers_by_season_corrected_economy.pkl','rb')
me = open('../data/player_stats/best_economies.pkl','rb')
ce = open('../data/player_stats/top_bowlers_by_season_int_year.pkl','rb')
gpt_economy = pickle.load(ge)
my_economy = pickle.load(me)
corrected_economy = pickle.load(ce)

In [20]:
my_economy

{2022: {'A Badoni': 5.5,
  'SP Narine': 5.57,
  'Mohsin Khan': 5.97,
  'PH Solanki': 6.33,
  'Tilak Varma': 6.5},
 2021: {'Imran Tahir': 4.0,
  'MC Henriques': 4.5,
  'AK Markram': 5.75,
  'N Rana': 6.0,
  'Harpreet Brar': 6.04},
 2020: {'Rashid Khan': 5.34,
  'Mohammad Nabi': 5.75,
  'Washington Sundar': 5.96,
  'CH Gayle': 6.0,
  'J Yadav': 6.14},
 2019: {'S Dube': 4.8,
  'AS Roy': 5.5,
  'SK Raina': 6.0,
  'STR Binny': 6.29,
  'RA Jadeja': 6.35},
 2018: {'IS Sodhi': 5.87,
  'L Ngidi': 6.0,
  'DJM Short': 6.33,
  'Rashid Khan': 6.74,
  'S Lamichhane': 6.83},
 2017: {'NB Singh': 3.75,
  'Mohammad Nabi': 5.27,
  'R Tewatia': 5.44,
  'Avesh Khan': 5.75,
  'P Negi': 6.12},
 2016: {'N Rana': 3.0,
  'Sachin Baby': 4.8,
  'MR Marsh': 5.0,
  'YK Pathan': 5.5,
  'JW Hastings': 5.55},
 2015: {'RN ten Doeschate': 4.0,
  'J Yadav': 4.14,
  'V Kohli': 5.45,
  'R Ashwin': 5.85,
  'S Nadeem': 6.14},
 2014: {'Ankit Sharma': 5.38,
  'AR Patel': 6.14,
  'R Rampaul': 6.17,
  'SP Narine': 6.43,
  'Harbhajan Singh': 6.47},
 2013: {'AC Gilchrist': 0.0,
  'BJ Hodge': 3.0,
  'RG Sharma': 4.5,
  'RV Gomez': 5.0,
  'Anand Rajan': 5.25},
 2012: {'L Balaji': 5.4,
  'SP Narine': 5.48,
  'AG Murtaza': 5.5,
  'RE van der Merwe': 6.0,
  'LR Shukla': 6.0},
 2011: {'S Rana': 3.0,
  'JP Faulkner': 4.5,
  'AA Chavan': 5.4,
  'R Sharma': 5.46,
  'S Dhawan': 5.5},
 2010: {'V Sehwag': 4.06,
  'ND Doshi': 4.25,
  'AJ Finch': 4.29,
  'B Akhil': 6.0,
  'R Ashwin': 6.1},
 2009: {'R Ashwin': 3.25,
  'CK Langeveldt': 3.75,
  'RS Bopara': 3.75,
  'AM Rahane': 5.0,
  'M Muralitharan': 5.22},
 2008: {'TM Dilshan': 3.0,
  'DJ Thornely': 5.71,
  'BAW Mendis': 6.0,
  'RG Sharma': 6.25,
  'SC Ganguly': 6.4}}

In [21]:
ball2ball['year'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008])

In [22]:
matches['year'].unique()

KeyError: 'year'

In [38]:
twe = open('../data/player_stats/season_player_strike_rates.pkl','rb')
top_wicket_takers = pickle.load(twe)
top_wicket_takers

{'2007/08': {'BB McCullum': [205.19480519480518, 100.0, 200.0, 50.0],
  'V Sehwag': [300.0,
   218.60465116279067,
   85.71428571428571,
   184.6153846153846,
   169.04761904761904,
   200.0,
   127.77777777777777,
   80.95238095238095,
   0.0,
   0.0,
   182.14285714285714,
   247.3684210526316,
   300.0,
   75.0],
  'LRPL Taylor': [176.9230769230769,
   209.52380952380955,
   147.22222222222223,
   193.33333333333334],
  'YK Pathan': [200.0,
   116.66666666666667,
   210.3448275862069,
   175.0,
   166.66666666666669,
   133.33333333333331,
   33.33333333333333,
   165.85365853658536,
   61.53846153846154,
   260.0,
   240.0,
   120.0,
   50.0,
   214.28571428571428,
   140.0],
  'MEK Hussey': [214.81481481481484, 55.55555555555556, 127.02702702702702]},
 '2009': {'DR Smith': [152.17391304347828,
   240.0,
   165.51724137931035,
   87.5,
   213.0434782608696,
   133.33333333333331,
   146.875,
   50.0],
  'AC Gilchrist': [118.18181818181819,
   157.77777777777777,
   166.66666666666669,
   220.00000000000003,
   160.0,
   108.33333333333333,
   0.0,
   80.64516129032258,
   117.64705882352942,
   83.33333333333334,
   182.85714285714286,
   134.375,
   176.9230769230769,
   78.94736842105263,
   236.11111111111111,
   0.0],
  'A Symonds': [162.16216216216216,
   157.89473684210526,
   178.26086956521738,
   138.46153846153845,
   96.15384615384616,
   105.88235294117648,
   160.0,
   157.14285714285714],
  'MK Pandey': [100.0,
   154.05405405405406,
   137.14285714285714,
   44.44444444444444],
  'ML Hayden': [125.71428571428571,
   175.67567567567568,
   203.57142857142856,
   136.11111111111111,
   50.0,
   150.0,
   153.57142857142858,
   153.44827586206898,
   104.34782608695652,
   153.84615384615387,
   98.36065573770492,
   136.8421052631579]},
 '2009/10': {'KA Pollard': [125.0,
   110.5263157894737,
   100.0,
   222.22222222222223,
   20.0,
   142.85714285714286,
   210.0,
   83.33333333333334,
   128.57142857142858,
   178.57142857142858,
   346.1538461538462,
   222.22222222222223,
   235.71428571428572,
   270.0],
  'RV Uthappa': [117.64705882352942,
   242.85714285714283,
   153.33333333333334,
   178.94736842105263,
   150.0,
   150.0,
   244.44444444444446,
   133.33333333333331,
   40.0,
   217.39130434782606,
   154.54545454545453,
   123.80952380952381,
   57.14285714285714,
   200.0],
  'Harbhajan Singh': [133.33333333333331,
   66.66666666666666,
   272.22222222222223,
   100.0,
   137.5,
   128.57142857142858,
   50.0],
  'YK Pathan': [250.0,
   0.0,
   108.33333333333333,
   107.14285714285714,
   127.27272727272727,
   208.57142857142858,
   133.33333333333331,
   171.42857142857142,
   200.0,
   71.42857142857143,
   150.0,
   125.0,
   110.00000000000001,
   88.88888888888889],
  'SR Watson': [230.76923076923075,
   152.63157894736844,
   50.0,
   88.0,
   169.23076923076923]},
 '2011': {'CH Gayle': [178.94736842105263,
   185.71428571428572,
   188.46153846153845,
   218.3673469387755,
   258.8235294117647,
   159.0909090909091,
   316.66666666666663,
   0.0,
   138.88888888888889,
   88.88888888888889,
   178.0,
   0.0],
  'V Sehwag': [118.75,
   200.0,
   148.0,
   171.42857142857142,
   208.10810810810813,
   138.88888888888889,
   147.82608695652172,
   166.66666666666669,
   166.66666666666669,
   205.17241379310346,
   50.0],
  'MS Dhoni': [138.0952380952381,
   215.0,
   137.5,
   107.6923076923077,
   50.0,
   123.80952380952381,
   95.45454545454545,
   215.78947368421052,
   203.2258064516129,
   150.0,
   175.0,
   152.63157894736844,
   169.23076923076923],
  'JD Ryder': [182.35294117647058,
   154.54545454545453,
   222.22222222222223,
   75.0,
   136.36363636363635,
   146.15384615384613,
   150.0,
   150.0,
   0.0,
   83.33333333333334,
   166.66666666666669,
   128.57142857142858,
   16.666666666666664],
  'SE Marsh': [25.0,
   85.71428571428571,
   165.11627906976744,
   202.1276595744681,
   71.42857142857143,
   129.7872340425532,
   50.0,
   114.28571428571428,
   126.47058823529412,
   131.25,
   164.28571428571428,
   161.22448979591837,
   162.5]},
 '2012': {'DA Warner': [198.1818181818182,
   110.5263157894737,
   88.88888888888889,
   155.55555555555557,
   166.66666666666669,
   171.73913043478262,
   100.0,
   42.857142857142854],
  'AB de Villiers': [152.38095238095238,
   100.0,
   133.33333333333331,
   60.0,
   235.71428571428572,
   126.82926829268293,
   245.83333333333334,
   0.0,
   130.76923076923077,
   276.4705882352941,
   225.0,
   107.6923076923077,
   36.36363636363637],
  'V Sehwag': [153.84615384615387,
   0.0,
   157.14285714285714,
   140.0,
   86.48648648648648,
   200.0,
   172.72727272727272,
   181.25,
   169.7674418604651,
   157.5,
   187.17948717948718,
   255.55555555555554,
   200.0,
   88.88888888888889,
   142.85714285714286,
   12.5],
  'CH Gayle': [25.0,
   170.0,
   88.88888888888889,
   165.3061224489796,
   142.62295081967213,
   50.0,
   145.76271186440678,
   161.36363636363635,
   113.04347826086956,
   138.98305084745763,
   178.125,
   75.0,
   206.4516129032258,
   270.0],
  'DR Smith': [266.66666666666663,
   66.66666666666666,
   120.0,
   0.0,
   145.0,
   158.33333333333331]},
 '2013': {'LJ Wright': [309.09090909090907,
   175.0,
   105.55555555555556,
   33.33333333333333,
   183.33333333333331],
  'AB de Villiers': [100.0,
   193.93939393939394,
   144.44444444444443,
   87.5,
   344.44444444444446,
   66.66666666666666,
   161.53846153846155,
   217.39130434782606,
   300.0,
   100.0,
   188.23529411764704,
   127.27272727272727,
   190.0,
   166.66666666666669],
  'DA Miller': [117.64705882352942,
   190.47619047619045,
   183.33333333333331,
   125.0,
   160.0,
   196.15384615384613,
   50.0,
   72.72727272727273,
   85.71428571428571,
   87.17948717948718,
   258.974358974359,
   120.0],
  'MS Dhoni': [170.0,
   132.0,
   76.92307692307693,
   183.33333333333331,
   128.57142857142858,
   123.52941176470588,
   176.3157894736842,
   138.46153846153845,
   281.25,
   100.0,
   83.33333333333334,
   133.33333333333331,
   66.66666666666666,
   165.71428571428572,
   218.18181818181816,
   128.57142857142858],
  'CH Gayle': [150.81967213114754,
   183.33333333333331,
   154.54545454545453,
   36.36363636363637,
   125.0,
   100.0,
   253.62318840579712,
   90.0,
   200.0,
   100.0,
   137.5,
   86.66666666666667,
   57.14285714285714,
   89.1891891891892,
   179.41176470588235,
   200.0]},
 '2014': {'JP Faulkner': [400.0,
   114.28571428571428,
   200.0,
   200.0,
   100.0,
   66.66666666666666,
   215.78947368421052,
   25.0,
   287.5,
   140.9090909090909,
   269.2307692307692,
   164.28571428571428],
  'GJ Maxwell': [197.91666666666669,
   189.36170212765958,
   215.9090909090909,
   115.38461538461537,
   100.0,
   155.17241379310346,
   225.0,
   208.33333333333334,
   100.0,
   195.45454545454547,
   107.6923076923077,
   66.66666666666666,
   0.0,
   66.66666666666666,
   162.5,
   0.0],
  'YK Pathan': [100.0,
   122.22222222222223,
   0.0,
   60.0,
   141.3793103448276,
   0.0,
   142.85714285714286,
   139.28571428571428,
   169.23076923076923,
   327.2727272727273,
   111.11111111111111,
   156.52173913043478],
  'AB de Villiers': [93.75,
   91.66666666666666,
   0.0,
   113.33333333333333,
   206.97674418604652,
   128.57142857142858,
   189.28571428571428,
   181.25,
   194.11764705882354,
   186.66666666666666,
   161.11111111111111,
   100.0,
   166.66666666666669],
  'DA Miller': [145.94594594594594,
   254.99999999999997,
   100.0,
   140.0,
   118.18181818181819,
   133.33333333333331,
   142.42424242424244,
   220.00000000000003,
   92.85714285714286,
   100.0,
   33.33333333333333,
   145.0,
   127.02702702702702,
   66.66666666666666,
   200.0,
   100.0]},
 '2015': {'AD Russell': [241.17647058823528,
   166.66666666666669,
   183.33333333333331,
   190.0,
   83.33333333333334,
   100.0,
   264.70588235294116,
   33.33333333333333,
   221.73913043478262,
   50.0,
   168.1818181818182],
  'AB de Villiers': [215.3846153846154,
   158.6206896551724,
   341.66666666666663,
   140.0,
   138.23529411764704,
   121.27659574468086,
   50.0,
   150.0,
   195.83333333333331,
   218.0327868852459,
   100.0,
   0.0,
   165.0,
   33.33333333333333],
  'HH Pandya': [228.57142857142856,
   0.0,
   50.0,
   262.5,
   200.0,
   179.41176470588235,
   50.0,
   0.0],
  'Q de Kock': [161.29032258064515, 42.857142857142854, 172.5],
  'KA Pollard': [95.23809523809523,
   205.88235294117646,
   200.0,
   166.66666666666669,
   125.0,
   117.85714285714286,
   160.0,
   87.5,
   162.5,
   25.0,
   204.16666666666666,
   82.5,
   215.78947368421052,
   200.0]},
 '2016': {'KH Pandya': [166.66666666666669,
   168.9655172413793,
   211.76470588235296,
   120.0,
   154.54545454545453,
   158.33333333333331,
   226.3157894736842,
   133.33333333333331],
  'CH Morris': [110.00000000000001,
   248.4848484848485,
   0.0,
   141.66666666666669,
   125.0,
   172.72727272727272,
   142.10526315789474],
  'AB de Villiers': [186.36363636363635,
   166.66666666666669,
   131.8181818181818,
   180.43478260869566,
   125.0,
   142.42424242424244,
   66.66666666666666,
   33.33333333333333,
   182.85714285714286,
   88.88888888888889,
   243.39622641509436,
   184.375,
   0.0,
   66.66666666666666,
   164.58333333333331,
   83.33333333333334],
  'NLTC Perera': [88.88888888888889,
   226.66666666666666,
   133.33333333333331,
   150.0,
   120.0,
   280.0,
   175.0,
   121.42857142857142,
   118.18181818181819,
   164.28571428571428],
  'AD Russell': [200.0,
   40.0,
   141.66666666666669,
   137.5,
   121.42857142857142,
   144.44444444444443,
   123.07692307692308,
   195.0]},
 '2017': {'CA Lynn': [202.17391304347828,
   114.28571428571428,
   227.27272727272728,
   155.55555555555557,
   173.33333333333334,
   300.0,
   50.0],
  'GJ Maxwell': [191.30434782608697,
   195.45454545454547,
   178.57142857142858,
   0.0,
   83.33333333333334,
   222.22222222222223,
   172.22222222222223,
   0.0,
   54.54545454545454,
   181.8181818181818,
   162.96296296296296,
   213.63636363636363,
   0.0],
  'SP Narine': [50.0,
   194.73684210526315,
   66.66666666666666,
   100.0,
   247.05882352941177,
   188.88888888888889,
   133.33333333333331,
   100.0,
   25.0,
   0.0,
   284.2105263157895,
   180.0,
   0.0,
   100.0],
  'RV Uthappa': [133.33333333333331,
   162.5,
   170.0,
   200.0,
   150.0,
   122.22222222222223,
   177.55102040816325,
   178.78787878787878,
   189.28571428571428,
   0.0,
   50.0,
   33.33333333333333,
   33.33333333333333],
  'RR Pant': [146.15384615384613,
   140.9090909090909,
   166.66666666666669,
   223.52941176470588,
   0.0,
   0.0,
   150.0,
   50.0,
   170.0,
   220.45454545454547,
   0.0,
   200.0,
   163.63636363636365,
   132.35294117647058]},
 '2018': {'K Gowtham': [0.0,
   100.0,
   171.42857142857142,
   50.0,
   300.0,
   160.0,
   300.0,
   125.0,
   133.33333333333331,
   260.0,
   60.0,
   280.0,
   128.57142857142858],
  'SP Narine': [250.0,
   240.0,
   81.81818181818183,
   25.0,
   140.0,
   25.0,
   288.88888888888886,
   122.72727272727273,
   152.38095238095238,
   125.0,
   200.0,
   202.7027027027027,
   300.0,
   241.66666666666666,
   200.0,
   200.0],
  'AD Russell': [115.38461538461537,
   244.44444444444446,
   180.0,
   341.66666666666663,
   125.0,
   137.5,
   0.0,
   90.0,
   50.0,
   206.66666666666669,
   220.00000000000003,
   100.0,
   181.4814814814815,
   42.857142857142854],
  'AB de Villiers': [191.30434782608697,
   142.5,
   111.11111111111111,
   50.0,
   225.0,
   219.3548387096774,
   25.0,
   55.55555555555556,
   194.5945945945946,
   168.29268292682926,
   151.42857142857142],
  'RR Pant': [215.3846153846154,
   133.33333333333331,
   188.0,
   143.33333333333334,
   170.0,
   57.14285714285714,
   0.0,
   168.08510638297872,
   209.0909090909091,
   90.0,
   200.0,
   174.28571428571428,
   140.74074074074073,
   142.22222222222223]},
 '2019': {'AD Russell': [245.00000000000003,
   282.3529411764706,
   206.25,
   300.0,
   108.69565217391303,
   204.54545454545453,
   250.0,
   216.66666666666666,
   150.0,
   100.0,
   181.8181818181818,
   141.1764705882353,
   0.0],
  'HH Pandya': [0.0,
   213.33333333333334,
   155.0,
   277.77777777777777,
   100.0,
   126.66666666666666,
   215.3846153846154,
   194.73684210526315,
   213.33333333333334,
   135.29411764705884,
   121.05263157894737,
   267.6470588235294,
   208.33333333333334,
   118.18181818181819,
   160.0],
  'MM Ali': [112.5,
   185.71428571428572,
   25.0,
   200.0,
   0.0,
   168.42105263157893,
   156.25,
   227.58620689655174,
   152.94117647058823,
   80.0],
  'SP Narine': [240.0,
   125.0,
   174.07407407407408,
   120.0,
   25.0,
   112.5,
   312.5,
   137.5],
  'RR Pant': [278.57142857142856,
   156.25,
   89.47368421052632,
   150.0,
   71.42857142857143,
   128.57142857142858,
   143.75,
   121.05263157894737,
   63.63636363636363,
   75.0,
   216.66666666666666,
   100.0,
   166.66666666666669,
   139.4736842105263,
   222.72727272727272,
   152.0]},
 '2020/21': {'KA Pollard': [128.57142857142858,
   164.0,
   400.0,
   213.63636363636363,
   162.5,
   233.33333333333334,
   73.33333333333333,
   178.57142857142858,
   150.0,
   216.66666666666666,
   0.0,
   225.0],
  'JC Archer': [300.0,
   50.0,
   150.0,
   218.18181818181816,
   160.0,
   200.0,
   50.0,
   433.3333333333333,
   66.66666666666666,
   25.0],
  'HH Pandya': [140.0,
   89.47368421052632,
   272.7272727272727,
   138.46153846153845,
   150.0,
   150.0,
   190.9090909090909,
   0.0,
   147.36842105263156,
   272.7272727272727,
   106.66666666666667,
   264.2857142857143,
   60.0],
  'Abdul Samad': [140.0,
   147.05882352941177,
   133.33333333333331,
   171.42857142857142,
   200.0,
   114.28571428571428,
   206.25],
  'N Pooran': [0.0,
   110.34482758620689,
   146.66666666666666,
   33.33333333333333,
   89.47368421052632,
   194.11764705882354,
   184.6153846153846,
   66.66666666666666,
   160.0,
   312.5,
   600.0,
   220.00000000000003,
   208.10810810810813,
   189.28571428571428]},
 '2021': {'SO Hetmyer': [155.55555555555557,
   50.0,
   212.0,
   0.0,
   266.66666666666663,
   80.0,
   164.70588235294116,
   131.8181818181818,
   133.33333333333331,
   187.5,
   137.03703703703704,
   170.0],
  'E Lewis': [225.0, 120.0, 150.0, 152.63157894736844, 163.63636363636365],
  'PP Shaw': [189.4736842105263,
   40.0,
   188.23529411764704,
   140.0,
   132.5,
   116.66666666666667,
   190.69767441860466,
   177.27272727272728,
   83.33333333333334,
   145.45454545454547,
   137.5,
   128.57142857142858,
   85.71428571428571,
   176.47058823529412,
   150.0],
  'YBK Jaiswal': [129.41176470588235,
   160.0,
   92.3076923076923,
   238.0952380952381,
   133.33333333333331,
   125.0,
   156.52173913043478,
   140.9090909090909,
   0.0,
   136.11111111111111],
  'AT Rayudu': [143.75,
   0.0,
   142.10526315789474,
   200.0,
   257.14285714285717,
   50.0,
   130.76923076923077,
   80.0,
   100.0,
   0.0,
   125.0,
   145.45454545454547,
   33.33333333333333]},
 '2022': {'TH David': [150.0,
   33.33333333333333,
   200.0,
   200.0,
   144.44444444444443,
   228.57142857142856,
   229.99999999999997,
   283.33333333333337],
  'KD Karthik': [228.57142857142856,
   175.0,
   183.33333333333331,
   350.0,
   188.88888888888889,
   194.11764705882354,
   162.5,
   0.0,
   150.0,
   66.66666666666666,
   152.94117647058823,
   375.0,
   100.0,
   100.0,
   148.0,
   85.71428571428571],
  'AD Russell': [131.57894736842107,
   212.12121212121212,
   220.00000000000003,
   109.09090909090908,
   188.46153846153845,
   0.0,
   192.0,
   0.0,
   236.84210526315786,
   180.0,
   158.06451612903226,
   45.45454545454545],
  'LS Livingstone': [158.33333333333331,
   111.76470588235294,
   171.42857142857142,
   220.68965517241378,
   66.66666666666666,
   157.89473684210526,
   66.66666666666666,
   237.5,
   112.5,
   300.0,
   129.41176470588235,
   159.0909090909091,
   60.0,
   204.16666666666666],
  'GJ Maxwell': [400.0,
   236.36363636363637,
   157.14285714285714,
   209.0909090909091,
   92.3076923076923,
   0.0,
   183.33333333333331,
   100.0,
   132.0,
   152.17391304347828,
   210.52631578947367,
   90.0,
   184.6153846153846]}}

array([0, 1])